@{
    ViewBag.Title = "About";
}

<style>
    .background_Image {
        background-image: url(../../image/About_US_background.jpg);
        background-repeat: no-repeat;
        background-size: 100% 222%;
    }
</style>
<body class="background_Image">
    <div style="background: aliceblue; width: 92%; border-radius: 7px; ">
        <div>
            <h3>About Fresh Harvest</h3>
        </div>

        <div>
            <p>
                Adoption of best crop management practices improves crop productivity and can contribute to greater yields with improved quality. Crop management is the set of agricultural practices performed to improve the growth, development and yield of crops. It begins with a seedbed preparation, sowing of seeds and crop maintenance; and ends with crop harvest, storage and marketing. The timing and sequence of agricultural practices depend upon several factors, such as winter or spring crops; harvested products such as grain, hay and silage; sowing methods-broadcast and row-crops; and, plants age, soil, climate and weather condition

            </p>
        </div>
    </div>
    <div style="padding-left: 100%; padding-top: 50px; color: red;">
        </div>
</body>